<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.mbg.mapper.UmsUserMapper">
  <resultMap id="BaseResultMap" type="com.auth.mbg.model.UmsUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="isactive" jdbcType="INTEGER" property="isactive" />
    <result column="expirydate" jdbcType="TIMESTAMP" property="expirydate" />
    <result column="sys_del" jdbcType="INTEGER" property="sysDel" />
    <result column="sys_create_user" jdbcType="VARCHAR" property="sysCreateUser" />
    <result column="sys_create_time" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="sys_modify_user" jdbcType="VARCHAR" property="sysModifyUser" />
    <result column="sys_modify_time" jdbcType="TIMESTAMP" property="sysModifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, password, nickname, profile, phone, email, age, isactive, expirydate, 
    sys_del, sys_create_user, sys_create_time, sys_modify_user, sys_modify_time
  </sql>
  <select id="selectByExample" parameterType="com.auth.mbg.model.UmsUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.auth.mbg.model.UmsUserExample">
    delete from ums_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.auth.mbg.model.UmsUser">
    insert into ums_user (id, username, password, 
      nickname, profile, phone, 
      email, age, isactive, 
      expirydate, sys_del, sys_create_user, 
      sys_create_time, sys_modify_user, sys_modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{isactive,jdbcType=INTEGER}, 
      #{expirydate,jdbcType=TIMESTAMP}, #{sysDel,jdbcType=INTEGER}, #{sysCreateUser,jdbcType=VARCHAR}, 
      #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysModifyUser,jdbcType=VARCHAR}, #{sysModifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.auth.mbg.model.UmsUser">
    insert into ums_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="profile != null">
        profile,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
      <if test="expirydate != null">
        expirydate,
      </if>
      <if test="sysDel != null">
        sys_del,
      </if>
      <if test="sysCreateUser != null">
        sys_create_user,
      </if>
      <if test="sysCreateTime != null">
        sys_create_time,
      </if>
      <if test="sysModifyUser != null">
        sys_modify_user,
      </if>
      <if test="sysModifyTime != null">
        sys_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=INTEGER},
      </if>
      <if test="expirydate != null">
        #{expirydate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDel != null">
        #{sysDel,jdbcType=INTEGER},
      </if>
      <if test="sysCreateUser != null">
        #{sysCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysModifyUser != null">
        #{sysModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="sysModifyTime != null">
        #{sysModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.auth.mbg.model.UmsUserExample" resultType="java.lang.Long">
    select count(*) from ums_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.profile != null">
        profile = #{record.profile,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.isactive != null">
        isactive = #{record.isactive,jdbcType=INTEGER},
      </if>
      <if test="record.expirydate != null">
        expirydate = #{record.expirydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysDel != null">
        sys_del = #{record.sysDel,jdbcType=INTEGER},
      </if>
      <if test="record.sysCreateUser != null">
        sys_create_user = #{record.sysCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCreateTime != null">
        sys_create_time = #{record.sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysModifyUser != null">
        sys_modify_user = #{record.sysModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.sysModifyTime != null">
        sys_modify_time = #{record.sysModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_user
    set id = #{record.id,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      profile = #{record.profile,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      isactive = #{record.isactive,jdbcType=INTEGER},
      expirydate = #{record.expirydate,jdbcType=TIMESTAMP},
      sys_del = #{record.sysDel,jdbcType=INTEGER},
      sys_create_user = #{record.sysCreateUser,jdbcType=VARCHAR},
      sys_create_time = #{record.sysCreateTime,jdbcType=TIMESTAMP},
      sys_modify_user = #{record.sysModifyUser,jdbcType=VARCHAR},
      sys_modify_time = #{record.sysModifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.auth.mbg.model.UmsUser">
    update ums_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=INTEGER},
      </if>
      <if test="expirydate != null">
        expirydate = #{expirydate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDel != null">
        sys_del = #{sysDel,jdbcType=INTEGER},
      </if>
      <if test="sysCreateUser != null">
        sys_create_user = #{sysCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null">
        sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysModifyUser != null">
        sys_modify_user = #{sysModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="sysModifyTime != null">
        sys_modify_time = #{sysModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auth.mbg.model.UmsUser">
    update ums_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      isactive = #{isactive,jdbcType=INTEGER},
      expirydate = #{expirydate,jdbcType=TIMESTAMP},
      sys_del = #{sysDel,jdbcType=INTEGER},
      sys_create_user = #{sysCreateUser,jdbcType=VARCHAR},
      sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
      sys_modify_user = #{sysModifyUser,jdbcType=VARCHAR},
      sys_modify_time = #{sysModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>